.bg-body-light {
  background: transparent !important;
}


.heading{
  font-size: 80px;
  font-weight: bolder;
}

.hero{
  background-image: url('./Asset/bg.avif');
  color: white;
  padding: 5%;
}

.con:hover {
  width: 20rem;
}

a{
  text-decoration: none;
}

.pos{
  position: relative;
  bottom: 0px;
}

.bg{
  background-color: rgb(248, 248, 248);
}